body > aside {
    & header > h3 {
        margin: auto;
        text-align: center;
        & > img {
            border-radius: 50%;
            max-height: 10rem;
            width: auto;
        }
        padding-bottom: 1rem;
    }
    & .about p {
        max-width: 40vh;
        padding-left: 2rem;
        text-align: justify;
    }
    & ul.personal_information {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        // font-size: 2rem;
        min-height: 10rem;
        & a {
            color: inherit;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        @media print {
            padding-left: 1rem;
        }
    }
    li {
        & .fa {
            min-width: 2rem;
            text-align: center;
        }

        list-style: none;
    }
}
