section.experience {
  // Capitalize only child time tag for languages that does not autocapitalize month names
  & ul,
  & details {
    padding-left: 2rem;
    margin-bottom: 0.5rem;
  }
  & ul > li time:first-child:last-child {
    display: inline-block;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  & article {
    margin-top: 1rem;
    @media print {
      margin-top: initial;
    }
  }

  & details {
    &:hover {
      &[open] {
        will-change: height;
      }
      &:not([open]) > summary > span {
        will-change: font-size, opacity;
      }
    }
    transition: height 300ms ease-in;

    @media screen {
      i.fa {
        display: none;
      }
    }

    & > summary > span {
      font-style: italic;
      font-size: 1rem;
      opacity: 1;
      transition: opacity 300ms ease-out;
      cursor: pointer;
      text-decoration: underline;
      // text-decoration-style: dotted;
      // text-underline-position: under;
      text-decoration-skip: ink;
    }

    @include media-breakpoint-down(sm) {
      &[open] {
        // Transition on padding-left does not work on Safari
        // Plus it requires more ressources than translate animation
        animation: translate2linesX 300ms ease-in;
        padding-left: 0;
        & > summary span {
          display: inline-block;
          max-width: calc(100vw - 2rem - #{$grid-gutter-width*2});
        }
      }
    }

    // Styling open details elements
    &[open] {
      & ::after {
        content: "";
        clear: both;
        display: block;
      }
      & > summary {
        float: left;

        & > span {
          position: absolute;

          line-height: 1.5rem;
          // opacity: 0;
          font-size: 0;
          transition-property: all;
        }
      }

      & > p {
        animation-name: invisiblyGrowFontSize;
        animation-duration: 350ms;
        animation-delay: 0;
        animation-timing-function: ease-out;
        margin-left: 1rem;
        min-height: 1.5rem;
        text-align: justify;
      }
    }
  }
}

@keyframes invisiblyGrowFontSize {
  0% {
    font-size: 0;
    opacity: 0;
  }
  40% {
    font-size: 0.5em;
    opacity: 0;
  }
  80% {
    opacity: 0.5;
    font-size: 1em;
  }
  100% {
    font-size: 1em;
    opacity: 1;
  }
}

@keyframes translate2linesX {
  0% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
