section.experience {
  // Capitalize only child time tag for languages that does not autocapitalize month names
  & ul,
  & details {
    padding-left: 2rem;
    margin-bottom: 0.5rem;
  }
  & ul > li time:first-child:last-child {
    display: inline-block;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  & article {
    margin-top: 1rem;
    @media print {
      margin-top: initial;
    }
  }

  & details {
    &:hover {
      &[open] {
        will-change: height;
      }
      &:not([open]) p {
        will-change: font-size;
      }
    }
    transition: height 300ms ease-in;

    @media screen {
      i.fa {
        display: none;
      }
    }

    & > summary > span {
      display: block;
      margin-bottom: -1.5rem;
      transform: translate(1rem, -1.5rem);
      max-width: calc(100% - 1rem);

      cursor: pointer;
      font-style: italic;

      opacity: 1;
      transition: opacity 300ms;

      text-decoration: underline;
      // text-decoration-style: dotted;
      // text-underline-position: under;
      text-decoration-skip: ink;
    }

    // Styling open details elements
    &[open] {
      & ::after {
        content: "";
        clear: both;
        display: block;
      }
      & > summary {
        float: left;

        & > span {
          // I don't use transition to avoid weird font-size change
          animation: fadeOutKeepingFontSize 200ms ease-out;
          position: absolute;

          opacity: 0;
          font-size: 0;
          max-width: calc(100% - 2rem - #{2*$grid_gutter_width});
        }
      }

      & > p {
        animation: invisiblyGrowFontSize 350ms ease-out;
        margin-left: 1rem;
        min-height: 1.5rem;
        text-align: justify;
      }

      @include media-breakpoint-down(sm) {
        // Transition on padding-left does not work on Safari
        // Plus it requires more ressources than translate animation
        animation: translate2linesX 300ms ease-in;
        padding-left: 0;
        & > summary span {
          max-width: calc(100vw - 4rem);
        }
      }
    }
  }
}

@keyframes invisiblyGrowFontSize {
  0% {
    font-size: 0;
    opacity: 0;
  }
  40% {
    font-size: 0.5em;
    opacity: 0;
  }
  80% {
    opacity: 0.5;
    font-size: 1em;
  }
  100% {
    font-size: 1em;
    opacity: 1;
  }
}

@keyframes translate2linesX {
  0% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes fadeOutKeepingFontSize {
  0% {
    opacity: 1;
    font-size: 1rem;
  }
  100% {
    opacity: 0;
    font-size: 1rem;
  }
}
