$languages: en fr;

:root {
    @each $lang in $languages {
        &[lang=#{$lang}] [lang]:not([lang=#{$lang}]) {
            display: none;
        }
    }
}
ul > li time:first-child:last-child {
    display: inline-block;
    &::first-letter {
        text-transform: uppercase;
    }
}
