%bar {
    position: absolute;
    border: 0.08em solid #307bbb;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    transform: rotate(0deg);
}

.meter-section {
    display: flex;
    flex-wrap: wrap;


    &>h3 {
        width: 100%;
    }

    & h5 {
        display: block;
    }
    &>article {
        flex-grow: 1;
    }

    & .dynamic {
        position: relative;
        appearance: none;
        font-size: 3rem;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        float: left;
        margin: 0 0.1em 0.1em 0;
        background-color: #cccccc;

        & *::before, & *::after {
            box-sizing: content-box;
        }


        @for $i from 1 through 100 {
            &[value="#{$i/100}"] .bar {
                transform: rotate(3.6deg * $i);
            }
        }
        @for $i from 51 through 100 {
            &[value="#{$i/100}"] {
                & .fill {
                    @extend %bar;
                    transform: rotate(180deg);
                }
                & .bar::after {
                    transform: rotate(180deg);
                }
                & .slice {
                    clip: rect(auto, auto, auto, auto);
                }
            }
        }

        & > span {
            position: absolute;
            width: 100%;
            z-index: 1;
            left: 0;
            top: 0;
            width: 5em;
            line-height: 5em;
            font-size: 0;
            color: #cccccc;
            // display: block;
            text-align: center;
            white-space: nowrap;
            transform: translateY(50%);
            transition-property: all;
            transition-duration: 0.2s;
            transition-timing-function: ease-out;
        }
        &::after {
            content: " ";
            position: absolute;
            top: 0.08em;
            left: 0.08em;
            display: block;
            border-radius: 50%;
            background-color: #f5f5f5;
            width: 0.84em;
            height: 0.84em;
            transition-property: all;
            transition-duration: 0.2s;
            transition-timing-function: ease-in;
        }
        & .slice {
            position: absolute;
            width: 1em;
            height: 1em;
            clip: rect(0em, 1em, 1em, 0.5em);
        }
        & .bar {
            @extend %bar;
        }

        &:hover > span {
            visibility: visible;
            width: 3.33em;
            line-height: 3.33em;
            font-size: 0.3em;
            color: #307bbb;
        }
        &:hover::after {
            top: 0.04em;
            left: 0.04em;
            width: 0.92em;
            height: 0.92em;
        }
    }
}
