%bar {
    position: absolute;
    border: 0.08em solid $red_400_dark;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    transform: rotate(0deg);
}

.meter-section {
    display: flex;
    flex-wrap: wrap;


    &>h3 {
        width: 100%;
    }

    & h5 {
        display: block;
    }
    &>article {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        &:hover {
            &>h5 {
                font-weight: bold;
            }

            & .dynamic {
                &::before {
                    opacity: 1;
                }
                &::after {
                    top: 004%;
                    left: 004%;
                    width: 092%;
                    height: 092%;
                    line-height: 2.8em;
                }

                &> span {
                    visibility: visible;
                    opacity: 1;
                    line-height: 3.33em;
                    font-size: 0.2em;
                }
            }
        }
    }

    & .dynamic {
        position: relative;
        appearance: none;
        font-size: 3rem;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        float: left;
        margin: 0 auto .1em;
        background-color: $red_50_dark;
        overflow: visible;

        & *::before, & *::after {
            box-sizing: content-box;
        }


        @for $i from 1 through 100 {
            &[value="#{$i/100}"] .bar {
                transform: rotate(3.6deg * $i);
            }
        }
        @for $i from 51 through 100 {
            &[value="#{$i/100}"] {
                & .fill {
                    @extend %bar;
                    transform: rotate(180deg);
                }
                & .bar::after {
                    transform: rotate(180deg);
                }
                & .slice {
                    clip: rect(auto, auto, auto, auto);
                }
            }
        }

        & > span {
            @include base-effects();

            background: $balloon-bg;
            border-radius: 4px;
            color: #fff;
            font-size: $balloon-base-size + 2;
            padding: .5em 1em;
            position: absolute;
            white-space: nowrap;
            z-index: 10;

            position: absolute;
            z-index: 1;
            left: 50%;
            bottom: 0;
            line-height: 5em;
            font-size: 0;
            color: $white;
            // display: block;
            text-align: center;
            white-space: nowrap;
            transform: translate(-50%, calc(100% + 5px));
            // transition-property: all;
            // transition-duration: 0.2s;
            // transition-timing-function: ease-out;
        }
        &::before {
            @include svg-arrow($balloon-bg, "down");
            @include base-effects();

            content: '';
            position: absolute;
            z-index: 10;

            left: 50%;
            margin-top: 5px;
            top: 100%;
            transform: translate(-50%, -5px);
        }
        &::after {
            content: attr(title);
            color: $red_50_dark;
            font-size: .3em;
            line-height: 2.75em;
            position: absolute;
            top: 8%;
            left: 8%;
            display: block;
            border-radius: 50%;
            background-color: $white;
            width: 84%;
            height: 84%;
            transition-property: all;
            transition-duration: 0.2s;
            transition-timing-function: ease-in;
        }
        & .slice {
            position: absolute;
            width: 1em;
            height: 1em;
            clip: rect(0em, 1em, 1em, 0.5em);
        }
        & .bar {
            @extend %bar;
        }
    }
}
