$red_400: #ef5350;
$red_400_light: #ff867c;
$red_400_dark: #b61827;

$icons: (date calendar) (place map-marker) (website globe);

body {
    display: flex;
    flex-flow: row wrap;

    margin: auto;
    max-width: 1920px;
    min-height: 100vh;

    &>* {
        flex: 1 100%;
        padding: 1rem;
    }
    &>header{
        display: flex;
        justify-content: center;
        flex-direction: column;

        text-align: center;

        background-color: $red_400_light;

    }
    &>aside{
        @media print {
            max-width: 33vw;
        }
        flex: 1 auto;
        order: 2;

        background-color: $red_400;

        &>ul {
            margin: 0;
            padding: 0;
        }
    }
    &>main{
        order: 3;
        flex: 5 0;

        display: flex;
        flex-wrap: wrap;

        @each $class, $icon in $icons {
            & .#{$class} {
                @include add-fa-icon($icon);
            }
        }

        & ul {
            &>li{
                display: inline-block;
                &::after {
                    content: "|";
                    padding: 0 .5rem;
                }
                &:empty, &:last-child {
                    &::after {
                        font-size: 0;
                    }
                }
            }
        }
    }
}
