$body_width: 1920px;

body {
    display: flex;
    flex-flow: row wrap;

    margin: auto;
    max-width: $body_width;
    min-height: 100vh;

    &>* {
        flex: 1 100%;
        padding: 1rem;
    }
    &>header{
        display: flex;
        justify-content: center;
        flex-direction: column;

        text-align: center;

        background-color: $red_400_light;

    }
    &>aside{
        @media print {
            max-width: 33vw;
        }
        flex: 1 auto;
        order: 2;

        display: flex;
        justify-content: space-between;
        flex-direction: column;

        background-color: $red_400;

        &>ul {
            margin: 0;
            padding: 0;
        }
    }
    &>main{
        order: 3;
        flex: 5 0;

        display: flex;
        flex-wrap: wrap;

        & h5 {
            display: inline-block;
            // float: right;
            &~h6 {
                display: inline-block;
                &::before {
                    content: "—";
                    padding: 0 .4em;
                    display: inherit;
                }
            }
        }


        & ul {
            &>li{
                display: inline-block;
                & a {
                    color: inherit;
                    text-decoration: none;
                }
                &::before {
                    padding-right: .3em;
                }
                &::after {
                    content: "|";
                    padding: 0 .5rem;
                }
                &:empty, &:last-child {
                    &::after {
                        font-size: 0;
                    }
                }
            }
        }
    }
}
