@media print {
    :root {
        font-size: 12px;
    }
    summary {
        // display: none;
        visibility: hidden;
        & > i.fa,
        & > span {
            padding-left: 28px;
            visibility: visible;
        }
        & > span {
            padding-left: 6px;
        }
    }
}
