$body_width: 1920px;

$mist: #90afc5;
$stone: #336b87;
$shadow: #2a3132;
$autumn: #763626;
$sunny: #eac435;

$primary_color: $shadow;
$secondary_color: $autumn;
$aside_color: $stone;

$font-color: #212529;
