@use "sass:math";

@import "./breakpoints";
@import "./variables";

body > aside {
  grid-area: aside;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background-color: $aside_color;
  color: white;
  line-height: 1.5rem;

  & header {
    display: flex;
    flex-direction: column;
    & > img {
      border-radius: 50%;
      max-height: 10rem;
      width: auto;
      margin: auto;
    }

    & > ul {
      display: grid;
      grid-template-columns: 1.5rem auto;

      & > li {
        display: contents;
      }
      & .svg-inline--fa {
        margin-top: #{math.div(1.5rem - 1rem, 2)};
      }
      & a {
        color: inherit;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      @media print {
        padding-left: 1rem;
      }
    }
  }
  & p {
    text-align: justify;
    padding-left: 2rem;
    @include media-breakpoint-up(lg) {
      max-width: 30vw;
      padding-left: 3rem;
    }
  }

  h3 {
    margin: 2rem 0 1rem;
  }

  ul {
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    @include media-breakpoint-up(lg) {
      padding-left: 2rem;
    }
  }

  li {
    list-style: none;
  }
}
