@import "./variables";

body > header {
  grid-area: header;
  display: flex;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  background-color: $primary_color;
  color: white;
  @media screen and (prefers-color-scheme: dark) {
    background-color: $mist;
    color: $font_color;
  }

  h5 {
    font-size: large;
  }
}
