@import "./views/variables";
@import "./views/breakpoints";

@import "_i18n";
@import "_print";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #212529;
  background-color: $red_400_light;

  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "main";
  @include media-breakpoint-up(md) {
    grid-template-areas:
      "header header"
      "aside main";
    grid-template-columns: 1fr 2fr;
  }

  margin: auto;
  width: 100vw;
  max-width: $body_width;
  min-height: 100vh;
  background-color: #f8f8f8;

  & > * {
    padding: 1rem;
  }
  & > header {
    grid-area: header;
    display: flex;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    background-color: $red_400_light;
  }
  & > aside {
    @media print {
      max-width: 33vw;
    }
    grid-area: aside;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-color: $red_400;
    line-height: 1.5rem;

    & > ul {
      margin: 0;
      padding: 0;
    }
  }
  & > main {
    grid-area: main;

    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(sm) {
      & > section[class*="col-"],
      & > section.col {
        padding-left: 0;
        padding-right: 0;
      }
    }

    margin-bottom: 1rem;
    & > section {
      margin-bottom: 2rem;
    }

    & h5 {
      display: inline-block;
      & ~ h6 {
        display: inline-block;
        &::before {
          content: "—";
          padding: 0 0.4em;
          display: inherit;
        }
      }
    }

    & ul {
      & > li {
        display: inline-block;
        & a {
          color: inherit;
          text-decoration: none;
        }
        &::before {
          padding-right: 0.3em;
        }
        &::after {
          content: "|";
          padding: 0 0.5rem;
        }
        &:empty,
        &:last-child {
          &::after {
            visibility: hidden;
            font-size: 0;
          }
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.svg-inline--fa {
  min-width: 1.5rem;
  text-align: center;
}
